.newTaskContainer {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;
}

.newTaskWindow {
  height: 35%;
  width: 50%;
  display: block;

  background-color: white;
  filter: none;
  border-radius: 1rem;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
}

.newTaskNameColor {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newTaskNameColor > input[type="color"] {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
}

.newTaskNameColor > input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.75rem;
}

.newTaskNameColor > input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 0.75rem;
}

.newTaskNameColor > input[type="text"] {
  height: 4rem;
  width: 70%;
  margin-left: 1rem;

  font-size: 2rem;
  padding-left: 1rem;
  border-radius: 1rem;

  border: 2px solid rgba(0, 0, 0, 0.186);
}

.newTaskNameColor > button {
  height: 4rem;
  width: 8rem;
  border-radius: 3rem;

  border: none;
  background-color: rgba(128, 128, 128, 1);

  margin-left: 3rem;

  font-size: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  padding-bottom: 0.4rem;
}

.newTaskNotes {
  grid-column: 1/2;
  grid-row: 2/4;

  margin-left: 1rem;

  padding: 0.75rem 0.75rem;

  border: 3px rgba(0, 0, 0, 0.186) solid;

  border-radius: 1rem;
  width: 90%;
}

.newTaskOptions {
  grid-column: 1/2;
  grid-row: 4/5;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newTaskPriority {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
}

.newTaskPriority > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.7rem;
}

.newTaskPriority > div > button {
  height: 1.9rem;
  width: 4.5rem;

  margin: 0 0.2rem;
  border-radius: 0.3rem;

  font-size: 1rem;
}

.highPrio {
  border: 3px solid rgba(255, 0, 0, 0.531);
  background-color: rgba(255, 0, 0, 0.117);
}

.midPrio {
  border: 3px solid rgba(255, 255, 0, 0.531);
  background-color: rgba(255, 255, 0, 0.2);
}

.lowPrio {
  border: 3px solid rgba(0, 255, 0, 0.531);
  background-color: rgba(0, 255, 0, 0.117);
}

.newTaskProject {
  width: 20rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;

  text-align: center;

  border: 2px solid rgba(0, 0, 0, 0.186);

  position: relative;
  top: 0.75rem;
}

.newTaskDate {
  width: 15rem;
  height: 3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.3rem;

  position: relative;
  top: 0.75rem;

  border: 2px solid rgba(0, 0, 0, 0.186);
}

/* =============== new Project Pop-up ============== */

.newProjectContainer {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.45);

  display: flex;
  align-items: center;
  justify-content: center;
}

.newProjectWindow {
  width: 25%;
  height: 10%;
  background-color: white;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.newProjectWindow > input[type="color"] {
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
}

.newProjectWindow > input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 0.75rem;
}

.newProjectWindow > input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 0.75rem;
}

.newProjectWindow > input[type="text"] {
  height: 3rem;
  width: 60%;
  font-size: 2rem;

  margin-left: 1rem;

  border-radius: 0.2rem;
}

.newProjectWindow > button {
  height: 4rem;
  margin-left: 1rem;
  width: 4rem;
  border-radius: 0.5rem;

  background-color: rgba(103, 103, 103, 0.7);

  color: white;
  font-size: 2rem;

  border: none;
}
